{{!< default}}

{{> header}}

<main class="main_fela" role="main">
  <article class="article_fela" itemscope itemtype="http://schema.org/Article">
    {{#foreach posts}}
      
      <header class="postheader_fela">
        <time class="date_fela" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
          {{date format='dddd DD MMM YYYY'}}
        </time>
        <h1 class="posttitle_fela" itemprop="headline">
          <a href="{{{url}}}" rel="bookmark">
          {{title}}
          </a>
        </h1>
      </header>
      
      <div class="postcontent_fela" itemprop="articleBody">
        <p>{{excerpt words="35"}}&hellip;</p>
      </div>

      <div class="posttags_fela">
        {{#if tags}}
        Tags: {{tags separator= " | "}}
        {{/if}}
      </div>

    {{/foreach}}
  </article>

  <div class="pagination_fela">
    {{#if pagination}}
      {{pagination}}
    {{/if}}
  </div>

</main>

{{> footer}}