<div class="header_fela" role="banner">
  {{#if @blog.logo}}
  <a class="logo_fela" href="{{@blog.url}}">
    <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
  </a>
  {{/if}}
  
  <h1 class="blogtitle_fela">
    <a title="{{@blog.title}}" href='{{@blog.url}}'>
    {{{@blog.title}}}
    </a>
  </h1>
  <p class="blogdescription_fela">
    <a title="{{@blog.title}}" href='{{@blog.url}}'>
      {{@blog.description}}
    </a>
  </p>
</div>